


<div class="col-lg-4 col-md-push-1">
    <aside>
                <ul  class="nav nav-pills nav-stacked ">
                    
                    <li class="active" role="presentation"><a href="{{path('covoiturage_annonce')}}">Creer une Annonce</a></li>
                    <li><a href="{{path('liste_annonce')}}">Gerer Mes Annonces</a></li>
                    <li><a>Effectuer un payement</a></li>
                    <li><a href="{{path('modif_profil')}}">Modifier le role</a></li>
                    <li><a href="{{path('voir_res')}}">Mes réservations</a></li>
                    <li><a href="{{path('fos_user_profile_edit')}}">Modifier mes informations</a></li>   
                    <li><a>Envoyer un message</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">Deconnectez vous</a></li>
                </ul>
    </aside>
</div>
